/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/



*{
  margin: 0;
}

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;


}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#logo{

}

#main_nav{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#main_nav a{
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 20%;
    margin-right: 1%;

}

#main_nav a:hover{
    background: #ddddff;
}

#main_content{
  display: flex;
  flex-wrap: wrap;
  background-color: #ddffff;
  padding: 2%;
  border-radius: 5px;
}

#main_content > div:first-child{
  width: 70%;
  padding-right: 50px;
}

#sidebar_content{
  display: flex;
  background-color: #ffffdd;
  padding: 2%;
  border-radius: 5px;
  margin-top: 2%;


}

#sidebar_content div{
  flex-basis: 80%;

}

#site_footer{
  display: flex;
  justify-content: center;
  background-color: #ddddff;
  border-radius: 5px;
  padding: 2%;
  margin-top: 2%;
}

#site_footer a {
  padding-right: 30px;
}




@media (max-width: 1100px){
  header{
    flex-direction: column;
    justify-content: center;
  }

  #logo{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #main_nav{
    width: 100%;
    justify-content: center;
  }

  #main_content > div:first-child{
    width: 100%;
    padding-bottom: 2%;
  }
}

@media (max-width: 600px){
  #main_nav a{
    width: 100%;

  }

  #sidebar_content div{
    width: 100%;
    margin: 2%;
  }

  #sidebar_content{
    flex-direction: column;

  }

}
